/*Adicionar as propriedades margin e padding no seletor universal (asterisco)*/
*{
    margin: 0; /*altera o espaçamento externo*/
    padding: 0; /*altera o espaçamento interno*/
}
/*iniciar seção cabeçalho*/

.cabecalho{
    background-color:deeppink; /*cor de fundo*/
    color:aliceblue; /*cor*/
    display: flex; /*propriedade flex para organizar itens do cabeçalho, lado a lado*/
    justify-content: space-around; /*alinha as imagens e os textos com espaçamento entre eles*/
    align-items: center; /*alinhamento de intens centralizado */
    padding: 24px 0; /*altera o espaçamento interno*/
}

.cabecalho-imagem{
    width: 8%;
    border-radius: 22px; /*para definir bordas arredondadas na imagem*/
}

/*a lista não ordenada ul precisa estar alinhada em uma única linha.
crie um seletor para a calsse .cabecalho-lista-item, adicionando nele a propriedade display com o valor inline;*/
/*aumente os espaçamentos entre os textos com a propriedade margin de valor 0 16x:*/
/*aumente a fonte através da propriedade font-size de valor 24px.*/


.cabecalho-lista-item{
    display: inline-block; /*o valor inline-block na propriedade display, os itens da lista ficam lado a lado*/
    margin: 0 16px; /**/
    font-size: 24px; /*tamanho da fonte*/
}

.cabecalho-lista-item a{
    text-decoration: none; /**/
    color:aliceblue; /*cor*/
}

/*efeito alterara a cor quando passa o mouse*/
a:hover{
    color: blueviolet;
}

/*efeito alterar a cor quando clicar com o mouse*/
a:active{
    color:rgb(105,144,216 );
}

/*iniciar seção escola*/

/*crie um seletor(.) para a classe escola-imagem, determinando uma largura width de 25%:*/
.escola-imagem{
    width:25;/*largura*/
    height:300px;/*altura*/
    border-radius:82px;/*para definirbordas arredondadas da imagem*/
}

/**/
.escola{
    background-image: linear-gradient(#424e61, #16cffb);
    color:hotpink;
    display: flex;
    justify-content:center;
    align-items:center;
    padding:24px 0;
}

/**/
.escola-div-conteúdo{
    width: 45%;
}

/**/
.escola-titulo{
    padding: 24px 0;
}

/**/
p{
    padding: 0 40px;/*alinhar o espaçamento*/
    font-size: 20px;/*tamanho da fonte*/
    font-family: arial, helvetica, sans-serif;/*especifica a fonte de um elemento*/
}






